<div class="main-article-text">
    <div>
        <h2>>Eduardo Almeida</h2>
        <p>
            Hi, I am a software developer and this is my web site.
        </p>
        <p>
            Here you will find my curriculum and also some other software topics that I like.
            There is also a more personal section with some random subjects, notes and thoughts.
        </p>
    </div>
</div>
<div class="me-img-container">
    <div>
        <img class="me-img" />
    </div>
</div>
<div class="bottom-article">
    <hr>
    <div class="market_section">
        <p>
            For the past 14 years, I have worked with the architecture and the development of software,
            expert in developing and engineering systems using C#, .NET Core, Microservices
            architecture, ASP.NET, MVC, Windows Services, NServicebus with RabbitMQ, Entity
            Framework, Docker, TFS, MS SQL Server, PostgreSQL Oracle, MongoDB, BigData, Scrum,
            Angular 4, Ajax, Design patterns, TDD, S.O.L.I.D, OOP and Azure services, Xamarin and
            Android Studio.
        </p>
        <p>
            In the last company I worked for, I was a full-stack engineer who developed a fleet
            management system that integrated with the vehicle’s GPS tracker, developed using
            microservices endpoints created with .NET Core and for the frontend Angular 2 framework.
            I was the engineer leader of two big projects, one related to a handover of a system from
            another team, and the other was in relation to the development of a new project that came
            from an innovative idea that changed the architecture of how our APIs operated that helped
            with the testing and development of new features.
            
        </p>
        <p>
            I am passionate about my job, about new technologies, and using creativity in new projects. I
            adapt very fast to a new work environment.
            I am always reading and studying to improve my knowledge and the use of design patterns,
            clean coding, and new systems architectures.
        </p>
    </div>
</div>